<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Saufi braucht dein Mikrofon, damit Toni dir zuhören kann.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Saufi nutzt Spracherkennung, damit Toni versteht was du sagst.</string>
</dict>
</plist>
